@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

/* Общий контейнер сетки */
.grid-container {
	display: grid;
	grid-template-rows: 60px auto; /* 80px для Header, остальное для контента */
	grid-template-columns: 250px auto; /* 250px для Sidebar, остальное для Content */
	grid-template-areas:
		'header header'
		'sidebar content';
	height: 100vh; /* Высота окна браузера */
	background-color: #f5f5f5; /* Фон для всей страницы */
}

/* Стили для Header */
.header {
	grid-area: header;
	background-color: #fdfdfd;
	display: flex;
	align-items: center;
	height: auto;
}

.header .logo .trade {
	color: #567ff7;
}

.header .logo {
	margin-left: 60px;
	font-weight: 600;
	font-size: 25px;
	display: flex;
	align-items: center;
	height: auto;
}

.header .information {
	margin-right: 20px;
	display: flex;
	align-items: center;
	height: auto;
	margin-left: auto;
	flex-direction: column;
}

.header .information .name {
	display: flex;
	font-weight: 500;
	font-size: 18px;
}

.header .information .role {
	display: flex;
	font-weight: 300;
	font-size: 12px;
}

/* Стили для Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 0; /* Убираем промежутки между блоками */
	height: 100%;
	background-color: #fdfdfd; /* Темный фон */
	color: black;
	box-shadow: 2px 0 0px rgba(0, 0, 0, 0.05);
	font-weight: 600;
}

/* Блоки в сайдбаре */
.block {
	flex: 1; /* Равномерное распределение пространства */
	display: flex;
	flex-direction: column;
	justify-content: center; /* Центровка контента по вертикали */
	align-items: center; /* Центровка контента по горизонтали */
	padding: 20px; /* Внутренние отступы */
	background-color: #fafcfd; /* Фон каждого блока */
}

.nav {
	flex: 0.5;
}

.exit {
	flex: 0.2;
}

.add {
	justify-content: left;
}

.exitButton {
	padding: 5px 20px;
	background-color: none;
	border: none;
}

.exitButton :hover {
	color: #567ff7;
	cursor: pointer;
}

.aExitBut {
	font: inherit;
	font-weight: 500;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background-color: white;
}

/* Граница между блоками */
.block:not(:last-child) {
	border-bottom: 1px solid #bdc3c7; /* Линия между блоками */
}

/* Текстовые стили */
.block h3 {
	margin: 0 0 10px 0; /* Отступы сверху и снизу */
	font-size: 18px;
}

.block p {
	margin: 0;
	font-size: 14px;
	color: #ecf0f1; /* Светлый текст */
}

/* Стили для Content */
.content {
	grid-area: content;
	background-color: #f3f3f8; /* Белый фон */
	padding: 20px;
	overflow-y: auto;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.content-border {
	margin-top: 0;
}

.main-holder h1 {
	margin-top: 0;
}

.form-holder {
	width: 50%;
	border-radius: 12px;
	background-color: white;
	text-align: center;
	margin: 0 auto 0 auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-holder form {
	margin: 20px auto;
	padding: 20px;
}

.form-holder form label {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: 600;
}

.form-holder form div {
	display: block;
	width: 60%;
	margin: 0px auto 5px auto;
}

.form-holder form input {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form-holder form button {
	width: 40%;
	display: block;
	border: none;
	border-radius: 4px;
	background-color: #1f34f1;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 6px 10px;
	font-size: 16px;
	margin: 10px auto 5px auto;
}
