.link {
	display: block;
	width: 90%;
	height: 20%;
	margin: 5px 0px;
	border: white solid 1px;
}

.mlink {
	display: block;
	width: 90%;
	height: 10%;
	margin: 5px 0px;
	border: white solid 1px;
}

.alink {
	box-sizing: border-box;
	padding: 7px 5px;
	display: block;
	color: black;
	text-decoration: none;
}

.link :hover,
.mlink :hover {
	background-color: #bdbdbd;
	border: gray solid 1px;
}

.link .active,
.mlink .active {
	background-color: #6f00ff;
	color: white;
	border: gray solid 1px;
}
