.container {
	max-width: 500px;
	margin: 0 auto;
	font-family: 'Inter';
	padding: 20px;
	line-height: 1.6;
	background-color: #f9f9f9;
	border-radius: 8px;
	width: auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	align-items: center;
}

.subtitle {
	font-size: 20px;
	margin-bottom: 10px;
	color: #616161;
}

.section {
	margin-bottom: 20px;
}

.list,
.exampleList {
	padding-left: 20px;
}

.list li,
.exampleList li {
	margin-bottom: 8px;
	list-style-type: none;
}

.list strong {
	color: #444;
}

.exampleList {
	list-style-type: decimal;
}

.exampleList li {
	margin-bottom: 5px;
	color: #666;
}

.total {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

strong {
	font-size: 18px;
}

li {
	font-size: 14px;
	font-weight: 500;
}
